.done {
  text-decoration: line-through;
}
.todoList {
  cursor: pointer;
}
.header {
  background-color: #cff4fc;
  border-radius: 2rem;
  padding: 0.5rem;
  color: #797f84;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}

td {
  border: none;
  border-style: none;
  padding: 10px;
  outline: none;
}

tr:first-child td:first-child {
  border-top-left-radius: 10px;
}
tr:first-child td:last-child {
  border-top-right-radius: 10px;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
